$break-small: 920px;

.pokemon-detail {
  background-color: whitesmoke;
  font-size: 12px;
  padding: 1em;
  height: 200px;
  width: 100%;
  span {
    color: #d35400;
  }
  @media screen and (max-width: $break-small) {
    height: 150px;  
  }
}

.moves-list {
  display: flex;
  font-size: 10px;
  flex-wrap: wrap;
  overflow-y: scroll;
  margin-top: 5px;
  height: 100px;
  width: 100%;
  li {
    width: 50%;
  }
  @media screen and (max-width: $break-small) {
    flex-direction: row;
    height: 60px;
    li {
      width: 100%;
    }
  }
}
